.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: red;
    background: #ff00002e;
}

.add-btn{
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    background: #3490d5;
    color: #fff;
}

.action-btn{
    color: #f8fafc;
    background: #3490d5 !important;
    border: 1px solid #3490d5;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
}
